/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%
}

body {
    height: 100%
    

}

.gridT {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
      linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size: 24px 24px;
  }

  .dotT {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 16px 16px;
  }



  .dot-maskT {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 16px 16px;
    -webkit-mask-image: radial-gradient(
      ellipse 50% 50% at 50% 50%,
      #000 60%,
      transparent 100%
    );
    mask-image: radial-gradient(
      ellipse 50% 50% at 50% 50%,
      #000 60%,
      transparent 100%
    );
  }
